<%- include('partials/header'); %>

    <div class="main bg">
     <p class="mb-4 text-center fs-5">Weather Data</p>
     <h1 style="font-weight: 700;" class="mb-4">Know your city weather</h1>

     <%- include('searchBar'); %>
    </div>

<%- include('partials/footer'); %>