<form action="/" method="post">
    <input type="text" name = "city" placeholder="City Name" class="w-100 py-2 text-center mb-4 " autofocus>
    <br>
    <button type="submit" class="btn btn-primary btn-lg py-2 px-5 w-100">Search</button>
 </form>
 
